.social_icons {
    width: 30px;
    position: absolute;
    left: 5px;
}

.btn_style {
    border: none;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #ffffff;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;
}

.btn_style:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #ffffff,
        inset -4px -4px 12px #ffffff;
}